<h1>Messages</h1>

Currently containing <span class="highlighted"><%= number_with_delimiter(@total_count, :delimiter => '.') %></span> messages.

<% if @total_count > 0 %>
  Oldest message is from <span class="highlighted"><%= gl_date(Time.at(MessageGateway.oldest_message.created_at)) %></span>.
<% end %>

<% message_count_interval = Setting.get_message_count_interval(current_user) %>
Stored <span class="highlighted">
  <%= number_with_delimiter(MessageCount.total_count_of_last_minutes(Setting.get_message_count_interval(current_user)), :delimiter => '.') %>
</span>
messages in the last <%= message_count_interval %> minutes.

<br />
