log/*
tmp/*
config/ey.yml
nbproject/*

# Idea project files
/.idea
/*.ipr
/*.iml
/*.iws
/.generators
/.rakeTasks


Capfile
config/deploy.rb

build/builds/*
build/logs/*

public/images/dashboard_logo.png
public/images/graphs/*

config/mongoid.yml
config/email.yml
config/indexer.yml

.bundle/
vendor/bundle/

coverage/
test/reports/

.DS_Store

*.swp
*.swo
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
