body {
  position: relative;
  padding-top: 53px;
  background-color: #fff;
}

table {
  font-size: 11px;
}

th {
  font-size: 12px;
  text-align: left;
}

td {
  padding: 2px 3px !important;
}

.highlighted {
  color: #08c;
}

.light {
  color: #333;
  font-family: Georgia,"Times New Roman",Times,serif;
}

.bigger {
  font-size: 15px;
}

.description {
  position: relative;
  top: -5px;
  margin-bottom: 10px;
  width: 70%;
  color: #333;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 15px;
  line-height: 19px;
}

.short-description {
  position: relative;
  top: -5px;
  margin-bottom: 5px;
  width: 70%;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 15px;
  line-height: 19px;
}

.black {
    color: #000 !important;
}

.loading {
    height: 200px;
    width: 100%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.center {
    width: 100%;
    text-align: center;
}

.top-right {
  width: 25%;
  text-align: right;
  float: right;
}

.tickLabel {
  color: #000 !important;
}

.status-okay-text {
  color: green;
}

.status-alarm-text {
  color: #f00;
}

.message-row:hover {
  color: #08c !important;
  cursor: pointer;
}

.time-light {
  color: #bbb;
}

.messages-full-message-details {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.messages-full-message-details span {
  font-weight: bold;
  color: #08c;
}

.messages-full-message-details a {
  color: #000;
}

.tickLabel {
  color: #555 !important;
  font-size: 10px;
}

#sidebar-graph {
  margin-top: 10px;
}

.messages-table {
  margin-top: 8px;
}

#quickfilter {
  margin-top: 8px;
}

.qf-additional-field-key {
  width: 100px;
  float: left;
  text-align: right;
  margin-left: 35px;
}

#qf-fields {
  padding-top: 18px;
}

/** bootstrap overwrites **/
.alert {
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}
