body {
  position: relative;
  padding-top: 60px;
  background-color: #fff;
}

table {
  font-size: 11px;
}

th {
  font-size: 12px;
  text-align: left;
}

td {
  padding: 2px 3px !important;
}

.highlighted {
  color: #08c;
}

.message-row:hover {
  color: #08c !important;
  cursor: pointer;
}

.time-light {
  color: #bbb;
}

.messages-full-message-details {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.messages-full-message-details span {
  font-weight: bold;
  color: #08c;
}

.messages-full-message-details a {
  color: #000;
}

.tickLabel {
  color: #555 !important;
  font-size: 10px;
}

#sidebar-graph {
  margin-top: 10px;
}
