body {
  position: relative;
  padding-top: 53px;
  background-color: #fff;
}

table {
  font-size: 11px;
}

th {
  font-size: 12px;
  text-align: left;
}

td {
  padding: 2px 3px !important;
}

.highlighted {
  color: #08c;
}

.message-row:hover {
  color: #08c !important;
  cursor: pointer;
}

.time-light {
  color: #bbb;
}

.messages-full-message-details {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.messages-full-message-details span {
  font-weight: bold;
  color: #08c;
}

.messages-full-message-details a {
  color: #000;
}

.tickLabel {
  color: #555 !important;
  font-size: 10px;
}

#sidebar-graph {
  margin-top: 10px;
}

.messages-table {
  margin-top: 8px;
}

#quickfilter {
  margin-top: 8px;
}

.qf-additional-field-key {
  width: 100px;
  float: left;
  text-align: right;
  margin-left: 35px;
}

#qf-fields {
  padding-top: 18px;
}

/** bootstrap overwrites **/
.alert {
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}
