.messages {
    font-family: 'Lucida Grande',Verdana,sans-serif !important;
    font-size: 10px;
}

.messages-inline {
    margin: 0px auto;
    width: 98%;
}

.messages tr {
    border-bottom: 1px solid #ccc;
}

.messages td {
    padding: 2px;
}

.messages .highlighted {
  color: #ff0000;
}

.messages-c-tools {
  text-align: right;
}

.messages-from-today-link {
  cursor: pointer;
}

.messages-today {
  background-color: #ffdf93;
}

#messages-quickfilter-graph {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

tr.message-severity-background-0 {
    background-color: #FF6659;
}
tr.message-severity-background-1 {
    background-color: #FF8A80;
}
tr.message-severity-background-2 {
    background-color: #FFADA6;
}
tr.message-severity-background-3 {
    background-color: #FFD0CC;
}
tr.message-severity-background-4 {
    background-color: #FFE1A6;
}
tr.message-severity-background-5 {
    background-color: #FFEECC;
}
tr.message-severity-background-6 {
    background-color: #FFF;
}
tr.message-severity-background-7 {
    background-color: #DDD;
}

.message-severity-icon-0 {
    background-image: url('/images/icons/log_severity/emergency.png');
    background-repeat: no-repeat;
    background-position: center 2px;
    text-indent: -9000px;
}

.message-severity-icon-1 {
    background-image: url('/images/icons/log_severity/alert.png');
    background-repeat: no-repeat;
    background-position: center 2px;
    text-indent: -9000px;
}

.message-severity-icon-2 {
    background-image: url('/images/icons/log_severity/critical.png');
    background-repeat: no-repeat;
    background-position: center 2px;
    text-indent: -9000px;
}

.message-severity-icon-3 {
    background-image: url('/images/icons/log_severity/error.png');
    background-repeat: no-repeat;
    background-position: center 2px;
    text-indent: -9000px;
}

.message-severity-icon-4 {
    background-image: url('/images/icons/log_severity/warning.png');
    background-repeat: no-repeat;
    background-position: center 2px;
    text-indent: -9000px;
}

.message-severity-icon-5 {
    background-image: url('/images/icons/log_severity/notice.png');
    background-repeat: no-repeat;
    background-position: center 2px;
    text-indent: -9000px;
}

.message-severity-icon-6 {
    background-image: url('/images/icons/log_severity/info.png');
    background-repeat: no-repeat;
    background-position: center 2px;
    text-indent: -9000px;
}

.message-severity-icon-7 {
    background-image: url('/images/icons/log_severity/debug.png');
    background-repeat: no-repeat;
    background-position: center 2px;
    text-indent: -9000px;
}
