development:
  host: localhost
  port: 27017
  username:
  password:
  database: graylog2_development
test:
  host: localhost
  port: 27017
  username:
  password:
  database: graylog2_test
production:
  host: localhost
  port: 27017
  username:
  password:
  database: graylog2
