@import lib.security.RestPermissions
@import views.helpers.Permissions.isPermitted
@(currentUser: org.graylog2.restclient.models.User, clusterId: String, masterOs: String, masterVersion: String, gettingStartedUrl: String, noButton: Boolean)

@import lib.json.Json
@import views.helpers.Permissions
@import lib.security.RestPermissions._

@main("Getting Started", null, null, currentUser, false) {

    @if(isPermitted(CLUSTER_CONFIG_ENTRY_EDIT, "org.graylog.plugins.usagestatistics.UsageStatsOptOutState")) {
        <div id="usage-stats-opt-out"></div>
    }

    <div id="react-gettingstarted"
         data-cluster-id="@clusterId"
         data-master-os="@masterOs"
         data-master-version="@masterVersion"
         data-getting-started-url="@gettingStartedUrl"
         data-no-button="@noButton"
    >
    </div>
}
